<ion-view hide-nav-bar="true" >
  <ion-content class="splash padding">
    <div class="branding">
      <div class="tagline">
        <h1>Kwibohora</h1>
        <p>Prosperity in dignity</p>
      </div>
    </div>
    <div class="card translucid">
      <div class="item item-text-wrap welcome">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut eaque ipsum, nulla a sit possimus delectus, sapiente vero veritatis omnis necessitatibus excepturi consectetur adipisci quod quam amet praesentium illum!
      </div>
    </div>

  </ion-content>
</ion-view>
